<p id="notice"><%= notice %></p>

<h1>Listing Orbiters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Orbit distance</th>
      <th>Orbit speed</th>
      <th>Diameter</th>
      <th>Mass</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orbiters.each do |orbiter| %>
      <tr>
        <td><%= orbiter.name %></td>
        <td><%= orbiter.orbit_distance %></td>
        <td><%= orbiter.orbit_speed %></td>
        <td><%= orbiter.diameter %></td>
        <td><%= orbiter.mass %></td>
        <td><%= link_to 'Show', orbiter %></td>
        <td><%= link_to 'Edit', edit_orbiter_path(orbiter) %></td>
        <td><%= link_to 'Destroy', orbiter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orbiter', new_orbiter_path %>
